
#pageeditor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
}
.koko {
  width:100%;
  height:100vh;
  border:1px solid grey
}
#webpart-xml-container {
  width: 78%;
  height: 92%;
  border: 1px solid grey;
  margin-left: 22%;
  overflow-y: hidden;
}

#webpart-save-button {
  margin-top: 2px;
  float: right;
  margin-right: 8px;
}

#webpart-delete-button {
  margin-top: 2px;
  float: right;
  margin-right: 8px;
}

#webpart-save-error {
  padding-left: 20px;
  padding-top: 6px;
  color: #A41f12;
  font-size: 16px;
  display: inline-block;
}

#webpart-save-success {
  padding-left: 20px;
  padding-top: 6px;
  color: #1f6302;
  font-size: 16px;
  display: inline-block;
}

#webpart-zones-list {
  float: left;
  width: 20%;
  height: 100%;
  padding-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#dimmer {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
  text-align: center;
}

#dimmer:before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  content: 'Please wait...';
  width: 200px;
  height: 50px;
  color: #fff;
  text-shadow: #EEE 0 0 20px;
}

.zone {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
}

.zone h3 {
  font-size: 9px;
  color: #ccc;
  display: block;
  border-bottom: 1px solid #777;
  text-transform: uppercase;
}

.webpart {
  margin: 4px;
  padding: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.webpart.selected {
  position: relative;
  margin-right: 15px;
  padding-right: 0;
  border-right: none;
  background-color: #ccc;
}

.webpart.selected:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(204, 204, 204, 0);
  border-left-color: #ccc;
  border-width: 14px;
  margin-top: -14px;
}

.add-new-webpart {
  margin: 4px;
  padding: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #ccc;
  border: 1px dashed #999;
}
