:root {
    --background-color: #fff;
    --border: 1px solid #999;
    --text-color: #5a5a5a;
    --hover-bg: rgba(56, 121, 217, 0.1);
    --active-bg: rgb(56,121, 217, 0.3);
    --sidebar-background-color: #fafafa;
    --sidebar-text-color: #999;
}