body {
  overflow: hidden;
}

listproperties, sidebar, webproperties, webhooks, graphman, appcatalogcontainer, scrlinks, files, pageeditor {
  overflow-y: auto;
  height: 100%;
  position: fixed;
}
.permission-yes{
  color: #009e49;
}
.permission-no {
  color: #e81123;
}

.fe-icon {
  color: #fff;
  width: 1.1em;
}
.fa-file-o {
  color: #eee;
}
.ghosted {
  color: red;
}
.unghosted {
  color: yellow;
}
.edited {
  color: lightskyblue;
}
.treenode {
  border: 1px solid black;
  display: inline-block;
}
.treenode:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  height: 22px;
  width: 200%;
  left: 0;
}
.treenode.selected:before {
  background: rgba(255,255,255,0.3);
}
.treenode:hover:before {
  background: rgba(255,255,255,0.2);
}
.treenode.selected > span {
    position: relative;
}
.fe-ul {
  list-style: none;
  padding-left: 0.6em;
  margin: 0.25em 0;
}
.fe-li {
  cursor: pointer;
  margin-top:0.3em;
}

.dir {
  cursor: default;
}

.fe-li.selected {
  background: rgba(255,255,255,0.3);
}
.fe-li:hover:before {
  background: rgba(255,255,255,0.2);
}
.fe-li.selected > span {
    position: relative;
}

fileeditorcontainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
  border-left: 1px solid grey;
}

.fileeditor {
  position: relative;
  float: left;
  width: 22%;
  height: 100%;
  overflow-y: auto;
  overflow-x: scroll;
  background-color: black;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857143;
  color: #D4D4D4;
  white-space: nowrap;
}

#file-editor-container {
  width: 78%;
  height: 100%;
  border-left: 1px solid grey;
  margin-left: 22%;
  overflow-y: hidden;
}

appcatalogcontainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
  border-left: 1px solid grey;
}

.appcatalog {
  position: relative;
  float: left;
  width: 22%;
  height: 100%;
  overflow-y: auto;
  overflow-x: scroll;
  background-color: black;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42857143;
  color: #D4D4D4;
  white-space: nowrap;
}

#appcatalog-container {
  width: 78%;
  height: 100%;
  border-left: 1px solid grey;
  margin-left: 22%;
  overflow-y: hidden;
}

#pageeditor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
}
#pnpjsconsole {
  width:100%;
  height:100vh;
  border-left:1px solid grey;
  overflow: hidden;
}
#webpart-xml-container {
  width: 78%;
  height: 92%;
  border: 1px solid grey;
  margin-left: 22%;
  overflow-y: hidden;
}

#webpart-save-button {
  margin-top: 2px;
  float: right;
  margin-right: 8px;
}

#webpart-delete-button {
  margin-top: 2px;
  float: right;
  margin-right: 8px;
}

#webpart-save-error {
  padding-left: 20px;
  padding-top: 6px;
  color: #A41f12;
  font-size: 16px;
  display: inline-block;
}

#webpart-save-success {
  padding-left: 20px;
  padding-top: 6px;
  color: #1f6302;
  font-size: 16px;
  display: inline-block;
}

#webpart-zones-list {
  float: left;
  width: 20%;
  height: 100%;
  padding-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

#dimmer {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 250px;
  text-align: center;
}

#spinner {
  position: relative;
  top: 45%;
  color: #fff;
}

.zone {
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 10px;
}

.zone h3 {
  font-size: 9px;
  color: #ccc;
  display: block;
  border-bottom: 1px solid #777;
  text-transform: uppercase;
}

.webpart {
  margin: 4px;
  padding: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.webpart.drag-handler {
  background-color: #fff;
}

.webpart.dragging {
  border: 1px solid #eee;
  color: #ccc;
}

.webpart.failed {
  border: 1px solid #e34;
  color: #ccc;
}

.webpart.selected {
  position: relative;
  margin-right: 15px;
  padding-right: 0;
  border-right: none;
  background-color: #ccc;
}

.webpart.selected:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(204, 204, 204, 0);
  border-left-color: #ccc;
  border-width: 14px;
  margin-top: -14px;
}

.add-new-webpart {
  margin: 4px;
  padding: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #ccc;
  border: 1px dashed #999;
}
graphman {
  width: 100%;
}
#ms-signin-button {
  max-width: 215px;
  height: 45px;
  cursor: pointer;
  display: inline-block;
  border:1px solid #021a40;
}
