.content{
    font-size: 12px;
}

.bottom-info{
    font-size: 10px; 
    padding:0 10px;
    margin: 5px 0px;
}

.pointer-cursor{
    cursor: pointer;
}

.normal-cursor{
    cursor: default;
}

.list-group {
    margin: 0px;
}

.list-group-item {
    padding: 7px 15px;
}