.links-content{
    font-size: 12px;
}

.bottom-info{
    font-size: 10px;
    padding:0 10px;
    margin: 5px 0px;
}

.pointer-cursor{
    cursor: pointer;
}

.normal-cursor{
    cursor: default;
}

.list-group {
    margin: 0px;
}

.list-group-item {
    padding: 4.5px 15px;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

a.list-group-item.turbo, a.list-group-item.turbo:focus a.list-group-item.turbo:hover {
  background-color: #FFC421;
}