:root {    
    --fixed-font-family: Consolas, "Lucida Console", "Courier New", monospace;
    --font-family: --fixed-font-family: Menlo, Monaco, "Ubuntu Mono", Consolas, monospace;
    --font-size: 12px;

    /* sidebar: editor-wide navigation */ 
    --sidebar-width: 180px;
    --sidebar-negwidth: -180px;
    /* main: width without the nav */
    --main-width: calc(100% - var(--sidebar-width));
    /* leftpanel: left section of main (optional) */
    --leftpanel-width: 250px;
    /* rightpanel: right section of main (optional) */
    --rightpanel-margin: calc(var(--leftpanel-width) + var(--sidebar-width))
    --rightpanel-width: calc(100% - var(--rightpanel--margin));
} 
